/* Shared */

.permalink {
	display: none; /* hidden at first */
}

.permalink:hover {
	text-decoration: none;
}

.taste-card {
	position: absolute;
	/*font-family: "Gill Sans", Helvetica;*/
	width: 200px;
	border: solid white 4px;
	padding: 5px 10px;
	background-color: white;
}

.taste-card .title, .taste-card .subtitle {
	font-weight: bold;
	padding: 5px 0;
	float: left;
}

.taste-card .subtitle {
	float: right;
}

.recipe-list {
    padding: 0 0 0 20px;
    margin: 0px;
    line-height: 20px;
}

.recipe-list li {
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
	clear: left;
}

.recipe-list li a {
	cursor: pointer;
}

.recipe-list li a:hover {
	color: #888;
}

.recipe-list a {
	text-decoration: none;
	color: black;
}

/* Taste Breakdown */

#breakdown {
	width: 870px;
	height: 400px;
/*	padding: 20px;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
	margin-bottom: 20px;*/
}

#breakdown .permalink {
	position: absolute;
	top: -45px;
	right: -20px;
}

#visualization {
	position: relative; 
	float: left; 
	width: 800px; 
	height: 350px;
}

#canvas-holder {
	position: absolute; 
	top: 0px;
	left: 228px;
	width: 370px; 
}

#search-wrapper {
	height: 50px;
}

#search-wrapper .tt-hint {
	font-size: 20px;
	overflow: hidden;
	padding: 0 6px;
	width: 286px;
}

#search-wrapper .typeahead {
	margin-left: 263px;
}

#search-wrapper .typeahead.tt-input {
	font-size: 20px;
	padding: 0 6px;
	line-height: 22px;
	width: 286px;
}

#search-wrapper .tt-dropdown-menu {
	width: 300px;
	max-height: 150px;
	overflow-y: auto;
	margin-left: 263px;
	border-bottom: 1px solid black;
}

#search-wrapper .tt-dataset-recipes {
	border: 1px solid black;
	width: 298px;
	background: white;
}

#search-wrapper .tt-suggestion {
	padding: 0 6px;
	cursor: pointer;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	overflow: hidden;
	border-bottom: 1px dotted #bbb;
}

#search-wrapper .tt-suggestion:hover {
	background-color: #eee;
}

/* Mix 'n Match */

#mixnmatch {
	position: relative;
	width: 800px;
	height: 500px;
	/*padding: 20px;*/
/*	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.5);*/
}

#selected-tastes {
	width: 228px;
}

#tastes-left-col {
	position: absolute; 
	left: 260px; 
}

#tastes-right-col {
	position: absolute; 
	left: 330px; 
}

#tastes-list .option {
	cursor: pointer;
	list-style-type: none;
	margin: 0px;
	width: 55px;
	padding: 0 10px 0px 10px;
	transition: background 0.05s ease-in-out;
}

#tastes-list .option .name { 
    font-size: 14px;
    position: relative;
 }

#mixnmatch h4 {
	font-family: Helvetica;
	font-size: 14px;
	font-weight: 600;
	margin: 0px;
	margin-bottom: 10px;
}

#recommendations {
	position: absolute; 
	top: 0px; 
	left: 450px; 
	width: 340px;
}

#mixnmatch .taste-card {
	float: left;
	position: static;
	margin-bottom: 10px;
}

#mixnmatch .permalink {
	position: absolute;
	top: -25px;
	right: 10px;
}

#taste-grid {
	/*font-family: "Gill Sans", Helvetica;*/
	width: 900px;
	height: 2000px;
	/*display: none;  hidden at first */
}

#taste-grid .column {
	width: 200px;
	float: left;
}

#taste-grid .taste-card {
	float: left;
	position: static;
	width: 160px;
	margin-bottom: 10px;
}

#taste-grid .taste-card .title {
	font-size: 14px;
}

#taste-grid .taste-card li {
	font-size: 13px;
}

.breakdown-link {
	cursor: pointer;
}

.mixnmatch-link {
	cursor: pointer;
}

.taste-hover {
	background-color: #eee;
	padding: 4px 4px 2px 4px;
	cursor: pointer;
}

/* blog post */

div.image-right {
	float: right; 
	margin-left: 20px; 
	width: 300px; 
	margin-bottom: 20px;
}

div.image-right img {
	width: 300px;
}

div.image-right span.caption {
	float: right; 
	text-align: right; 

}

span.caption {
	float: left;
	font-size: 14px; 
	color: #888;
 	margin-top: 5px;
	line-height: 16px;
}

