<div>
<span class='title'>Factor 1</span>
<ol>
<li>Braised Balsamic Chicken</li>
<li>Spicy Garlic Lime Chicken</li>
<li>Chicken Breasts with Balsamic Vinegar and Garlic</li>
<li>Unbelievable Chicken</li>
<li>Yummy Honey Chicken Kabobs</li>
</ol>
</div>
<div>
<span class='title'>Factor 2</span>
<ol>
<li>Baked Coconut Shrimp</li>
<li>Chicken Puffs</li>
<li>Famous Chicken Francaise</li>
<li>Uglies</li>
<li>Pesto Cheesy Chicken Rolls</li>
</ol>
</div>
<div>
<span class='title'>Factor 3</span>
<ol>
<li>Quinoa and Black Beans</li>
<li>Baked Kale Chips</li>
<li>Quinoa Side Dish</li>
<li>Quinoa Tabbooleh</li>
<li>Butternut Squash Soup</li>
</ol>
</div>
<div>
<span class='title'>Factor 4</span>
<ol>
<li>Broiled Tilapia Parmesan</li>
<li>Grilled Salmon I</li>
<li>Baked Dijon Salmon</li>
<li>Maple Salmon</li>
<li>Marinated Grilled Shrimp</li>
</ol>
</div>
<div>
<span class='title'>Factor 5</span>
<ol>
<li>Artichoke Chicken</li>
<li>Breakfast Upside Down Cake</li>
<li>Classy Chicken</li>
<li>Feta Cheese and Bacon Stuffed Breasts</li>
<li>Pan-Seared Chicken Breasts with Shallots</li>
</ol>
</div>
<div>
<span class='title'>Factor 6</span>
<ol>
<li>Slow Cooker Chicken and Dumplings</li>
<li>Awesome Slow Cooker Pot Roast</li>
<li>Slow Cooker Chicken Stroganoff</li>
<li>Baked Slow Cooker Chicken</li>
<li>Amazing Pork Tenderloin in the Slow Cooker</li>
</ol>
</div>
<div>
<span class='title'>Factor 7</span>
<ol>
<li>Artichoke & Spinach Dip Restaurant Style</li>
<li>Hot Artichoke and Spinach Dip II</li>
<li>Party Pinwheels</li>
<li>Buffalo Chicken Dip</li>
<li>Angel Chicken Pasta</li>
</ol>
</div>
<div>
<span class='title'>Factor 8</span>
<ol>
<li>Cream Cheese Frosting II</li>
<li>Marshmallow Fondant</li>
<li>Simple White Cake</li>
<li>Special Buttercream Frosting</li>
<li>Buttercream Icing</li>
</ol>
</div>
<div>
<span class='title'>Factor 9</span>
<ol>
<li>The Best Rolled Sugar Cookies</li>
<li>Sugar Cookie Icing</li>
<li>Easy Sugar Cookies</li>
<li>Sugar Cookie Frosting</li>
<li>Soft Christmas Cookies</li>
</ol>
</div>
<div>
<span class='title'>Factor 10</span>
<ol>
<li>Homemade Black Bean Veggie Burgers</li>
<li>Addictive Sweet Potato Burritos</li>
<li>The Best Vegetarian Chili in the World</li>
<li>Eggplant Parmesan II</li>
<li>Tofu Parmigiana</li>
</ol>
</div>
<div>
<span class='title'>Factor 11</span>
<ol>
<li>Playgroup Granola Bars</li>
<li>Zucchini Brownies</li>
<li>Morning Glory Muffins I</li>
<li>Megan's Granola</li>
<li>Pumpkin Pancakes</li>
</ol>
</div>
<div>
<span class='title'>Factor 12</span>
<ol>
<li>Jamie's Cranberry Spinach Salad</li>
<li>Roquefort Pear Salad</li>
<li>Strawberry Spinach Salad I</li>
<li>Spinach and Strawberry Salad</li>
<li>Baked Asparagus with Balsamic Butter Sauce</li>
</ol>
</div>
<div>
<span class='title'>Factor 13</span>
<ol>
<li>Easy Meatloaf</li>
<li>Banana Banana Bread</li>
<li>Homemade Mac and Cheese</li>
<li>Stuffed Peppers</li>
<li>Old Fashioned Potato Salad</li>
</ol>
</div>
<div>
<span class='title'>Factor 14</span>
<ol>
<li>Aimee's Quick Chicken</li>
<li>American Shepherd's Pie</li>
<li>Baked Sesame Chicken</li>
<li>Breaded Parmesan Chicken</li>
<li>Angel Hair Pasta Chicken</li>
</ol>
</div>
<div>
<span class='title'>Factor 15</span>
<ol>
<li>Bacon-Roasted Chicken with Potatoes</li>
<li>Chicken Fajita Melts</li>
<li>Marinated Ranch Broiled Chicken</li>
<li>Bev's Orange Chicken</li>
<li>Amazing Crusted Chicken</li>
</ol>
</div>
<div>
<span class='title'>Factor 16</span>
<ol>
<li>Banana Crumb Muffins</li>
<li>Downeast Maine Pumpkin Bread</li>
<li>Apple Pie by Grandma Ople</li>
<li>Clone of a Cinnabon</li>
<li>Mom's Zucchini Bread</li>
</ol>
</div>
<div>
<span class='title'>Factor 17</span>
<ol>
<li>Unbelievable Chicken</li>
<li>Garlic Cheese Chicken Rollups</li>
<li>Swiss Chicken Casserole II</li>
<li>Crispy Herb Baked Chicken</li>
<li>Smothered Mexican Lasagna</li>
</ol>
</div>
<div>
<span class='title'>Factor 18</span>
<ol>
<li>The Best Lemon Bars</li>
<li>Lemon Pie Bars</li>
<li>Apple Crumb Pie</li>
<li>Cranberry Orange Cookies</li>
<li>Magic Cookie Bars II</li>
</ol>
</div>
<div>
<span class='title'>Factor 19</span>
<ol>
<li>White Chocolate Raspberry Cheesecake</li>
<li>Tiramisu Layer Cake</li>
<li>Chantal's New York Cheesecake</li>
<li>Chocolate Trifle</li>
<li>Tiramisu II</li>
</ol>
</div>
<div>
<span class='title'>Factor 20</span>
<ol>
<li>Chicken Parmesan</li>
<li>Quick Chicken Piccata</li>
<li>Simple Garlic Shrimp</li>
<li>Oven Roasted Teriyaki Chicken</li>
<li>Slow Cooker Beef Pot Roast</li>
</ol>
</div>
<div>
<span class='title'>Factor 21</span>
<ol>
<li>Bada Bing Bada Banged Potatoes</li>
<li>Cinnamon Swirl Bread</li>
<li>Never Fail Biscuits</li>
<li>Mayonnaise Biscuits</li>
<li>Spiced Bacon Twists</li>
</ol>
</div>
<div>
<span class='title'>Factor 22</span>
<ol>
<li>Sangria! Sangria!</li>
<li>Beer Margaritas</li>
<li>Amazingly Easy Irish Soda Bread</li>
<li>Classic Spanish Sangria</li>
<li>Guinness&#174; Corned Beef</li>
</ol>
</div>
<div>
<span class='title'>Factor 23</span>
<ol>
<li>Best Lemonade Ever</li>
<li>Luscious Slush Punch</li>
<li>Chai Tea Mix</li>
<li>Cowboy Cookie Mix in a Jar</li>
<li>Creamy Hot Cocoa</li>
</ol>
</div>
<div>
<span class='title'>Factor 24</span>
<ol>
<li>Amish White Bread</li>
<li>Clone of a Cinnabon</li>
<li>Sweet Dinner Rolls</li>
<li>Best Bread Machine Bread</li>
<li>French Baguettes</li>
</ol>
</div>
<div>
<span class='title'>Factor 25</span>
<ol>
<li>Blueberry Sour Cream Coffee Cake</li>
<li>Blueberry Buckle</li>
<li>Creamy Banana Bread</li>
<li>Gramma's Apple Bread Pudding</li>
<li>Blueberry Coffee Cake I</li>
</ol>
</div>
<div>
<span class='title'>Factor 26</span>
<ol>
<li>Jalapeno Popper Spread</li>
<li>Super-Delicious Zuppa Toscana</li>
<li>Sausage Stuffed Jalapenos</li>
<li>Insanely Amazing Jalapeno Cheese Dip</li>
<li>Slow Cooker Buffalo Chicken Sandwiches</li>
</ol>
</div>
<div>
<span class='title'>Factor 27</span>
<ol>
<li>Delicious Ham and Potato Soup</li>
<li>Stuffed Cabbage Rolls</li>
<li>Italian Sausage Soup</li>
<li>Cabbage Rolls II</li>
<li>Beef Barley Vegetable Soup</li>
</ol>
</div>
<div>
<span class='title'>Factor 28</span>
<ol>
<li>Chicken Tikka Masala</li>
<li>Naan</li>
<li>Curried Coconut Chicken</li>
<li>Chicken Makhani (Indian Butter Chicken)</li>
<li>Vietnamese Fresh Spring Rolls</li>
</ol>
</div>
<div>
<span class='title'>Factor 29</span>
<ol>
<li>Easy Spicy Roasted Potatoes</li>
<li>Cheddar Ranch Dip</li>
<li>Honey Cornbread</li>
<li>Onions Baked with Rosemary and Cream</li>
<li>Spinach-Cheese Swirls</li>
</ol>
</div>
<div>
<span class='title'>Factor 30</span>
<ol>
<li>World's Best Lasagna</li>
<li>Chicken Pot Pie IX</li>
<li>Chicken Cordon Bleu II</li>
<li>Guacamole</li>
<li>Delicious Ham and Potato Soup</li>
</ol>
</div>
<div>
<span class='title'>Factor 31</span>
<ol>
<li>Best Steak Marinade in Existence</li>
<li>Scott Hibb's Amazing Whisky Grilled Baby Back Ribs</li>
<li>Marinated Flank Steak</li>
<li>Garlic Prime Rib</li>
<li>Foolproof Rib Roast</li>
</ol>
</div>
<div>
<span class='title'>Factor 32</span>
<ol>
<li>Yummy Sweet Potato Casserole</li>
<li>Perfect Turkey</li>
<li>Awesome Sausage</li>
<li>Homestyle Turkey</li>
<li>Grandma's Green Bean Casserole</li>
</ol>
</div>
<div>
<span class='title'>Factor 33</span>
<ol>
<li>Baked Pork Chops I</li>
<li>Salisbury Steak</li>
<li>Baked Ziti I</li>
<li>Brown Sugar Meatloaf</li>
<li>Famous Butter Chicken</li>
</ol>
</div>
<div>
<span class='title'>Factor 34</span>
<ol>
<li>Good Old Fashioned Pancakes</li>
<li>J.P.'s Big Daddy Biscuits</li>
<li>Jay's Signature Pizza Crust</li>
<li>Fluffy Pancakes</li>
<li>Pizza Dough I</li>
</ol>
</div>
<div>
<span class='title'>Factor 35</span>
<ol>
<li>Best Brownies</li>
<li>Best Big</li>
<li>Best Chocolate Chip Cookies</li>
<li>Award Winning Soft Chocolate Chip Cookies</li>
<li>Soft Oatmeal Cookies</li>
</ol>
</div>
<div>
<span class='title'>Factor 36</span>
<ol>
<li>Restaurant-Style Buffalo Chicken Wings</li>
<li>Old Fashioned Onion Rings</li>
<li>Fried Mozzarella Cheese Sticks</li>
<li>Best Ever Jalapeno Poppers</li>
<li>Best Egg Rolls</li>
</ol>
</div>
<div>
<span class='title'>Factor 37</span>
<ol>
<li>Chicken and Biscuit Casserole</li>
<li>Happy Roast Chicken</li>
<li>Creamy Chicken on Linguine</li>
<li>Pesto Chicken Penne Casserole</li>
<li>Mushroom Chicken Piccata</li>
</ol>
</div>
<div>
<span class='title'>Factor 38</span>
<ol>
<li>Chocolate Chip Cookie Dough + Cupcake = The BEST Cupcake.  Ever.</li>
<li>Cake Balls</li>
<li>Magic Peanut Butter Middles</li>
<li>Fudge Puddles</li>
<li>Cookie Balls</li>
</ol>
</div>
<div>
<span class='title'>Factor 39</span>
<ol>
<li>Easy Mexican Casserole</li>
<li>Cheesy Ham and Hash Brown Casserole</li>
<li>Christmas Breakfast Sausage Casserole</li>
<li>Sausage Casserole</li>
<li>Taco Pie</li>
</ol>
</div>
<div>
<span class='title'>Factor 40</span>
<ol>
<li>Simple Scones</li>
<li>Grandma Johnson's Scones</li>
<li>Cranberry Pistachio Biscotti</li>
<li>World's Best Scones! From Scotland to the Savoy to the U.S.</li>
<li>Brownie Biscotti</li>
</ol>
</div>
