#breakdown .permalink {
	display: none; /*hidden at first */
	position: absolute;
	top: -45px;
	right: -20px;
	font-family: 'Gill Sans', Helvetica;
}

#breakdown .permalink:hover {
	text-decoration: none;
}

#visualization {
	position: relative; 
	float: left; 
	width: 800px; 
	height: 400px;
}

#canvas-holder {
	position: absolute; 
	top: 0px;
	left: 228px;
	width: 370px; 
}

.taste-card ol {
    padding: 0px;
    margin: 0px;
    padding-left: 16px !important;
}

.taste-card ol li {
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
}

.taste-card ol li a:hover {
	color: #888;
}

.taste-card {
	position: absolute;
	width: 200px;
	border: solid white 4px;
	padding: 5px 10px;
	font-family: "Gill Sans", Helvetica;
}

.taste-card .title, .taste-card .subtitle {
	font-weight: bold;
}

.taste-card .subtitle {
	float: right;
}

.taste-card a {
	text-decoration: none;
	color: black;
}

#similar-div {
	font-family: "Gill Sans", Helvetica;
}

#similar {
	margin: 0px;
	padding-left: 0px;
	list-style-type: none;
}

#similar canvas {
	margin-right: 4px;
}

#similar a {
	color: black;
	cursor: pointer;
}

#similar a:hover {
	color: black;
	cursor: pointer;
	color: #888;
	text-decoration: none;
}


#search-wrapper {
	height: 50px;
}

#search-wrapper .title {
	display: block;
	width: 228px;
	float: left;
	font-size: 24px;
	vertical-align: bottom;
	font-weight: bold;
	text-align: right;
}

#search-wrapper .tt-hint {
	font-size: 20px;
	overflow: hidden;
	padding: 0 6px;
	width: 286px;
}

#search-wrapper .typeahead {
	margin-left: 263px;
}

#search-wrapper .typeahead.tt-input {
	font-size: 20px;
	padding: 0 6px;
	line-height: 22px;
	width: 286px;
}

#search-wrapper .tt-dropdown-menu {
	width: 300px;
	max-height: 150px;
	overflow-y: auto;
	margin-left: 263px;
	border-bottom: 1px solid black;
}

#search-wrapper .tt-dataset-recipes {
	border: 1px solid black;
	width: 298px;
	background: white;
}

#search-wrapper .tt-suggestion {
	padding: 0 6px;
	cursor: pointer;
	margin: 0px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	overflow: hidden;
	border-bottom: 1px dotted #bbb;
}

#search-wrapper .tt-suggestion:hover {
	background-color: #eee;
}

#recipe-name {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1000px;
	text-align: center;
}

#left_canvas {
	position: absolute;
	top: 50px; /* TODO can we get rid of the 50 already??*/
	left: 0;
}

#right_canvas {
	position: absolute;
	top: 50px;
	left: 400;
}

#taste {
	position: absolute;
	left: 10px;
	top: 50px;
}



.taste {
	cursor: pointer;
	font-size: 30px;
	line-height: 20px;
	list-style-type: none;
	padding-left: 23px;
}

.taste .name { 
    /*color: black;*/
    font-size: 14px;
    position: relative;
    left: -8px; /* god I hate CSS */
 }

.taste.hover, .taste.selected {
	padding-left: 0px;
	list-style-type: disc;
}

#recommendations {
	font-family: 'Gill Sans', Helvetica;
}


#mixnmatch h4 {
	font-size: 14px;
	font-weight: 600;
}

#recommendations ol li {
	cursor: pointer;
	font-weight: 400;
	font-size: 14px;
}

#recommendations ol li a {
	color: black;
}

#recommendations ol li a:hover {
	color: #888;
	text-decoration: none;
}

#mixnmatch .taste-card {
	float: left;
	position: static;
	margin-bottom: 10px;
}

#mixnmatch .permalink {
	display: none; /*hidden at first */
	position: absolute;
	top: -45px;
	right: 35px;
	font-family: 'Gill Sans', Helvetica;
}

#mixnmatch .permalink:hover {
	text-decoration: none;
}
